
examen/.ipynb_checkpoints/evaluacion_parcial_ALBAN_LEON _1-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_Arias_Bayona-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_Carlos_Herrera-checkpoint-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_BOLLORINO_MONTOYA -checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_CHONILLO ANCHUNDIA JEFFERSON -checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_daniela_reyes-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_Celiano_Torosine-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_Cobos_Salvador-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_ELIZALDE_ASUNCION-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_fernando_hernandez-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_Gaibor_Nicole-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_julio_lovato-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_Lima_Palacios (1)-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_Luis_Herrera-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_Vargas_Pedro-checkpoint.ipynb
examen/evaluacion_parcial_ALBAN_LEON _1.ipynb
examen/evaluacion_parcial_Arias_Bayona.ipynb
examen/evaluacion_parcial_Carlos_Herrera-checkpoint.ipynb
examen/evaluacion_parcial_Vargas_Pedro.ipynb
examen/evaluacion_parcial_TobarEscobar.ipynb
examen/evaluacion_parcial_sanga_hernandez.ipynb
examen/evaluacion_parcial_SALAZAR_SUAREZ.ipynb
examen/evaluacion_parcial_Salazar_Loor.ipynb
examen/evaluacion_parcial_Robalino_Fernandez.ipynb
examen/evaluacion_parcial_REYES_MARIN.ipynb
examen/evaluacion_parcial_Olvera_Pedro.ipynb
examen/evaluacion_parcial_Nicole_Zambrano.ipynb
examen/evaluacion_parcial_MERA.ipynb
examen/evaluacion_parcial_Mabel_Leon.ipynb
examen/evaluacion_parcial_Luis_Herrera.ipynb
examen/evaluacion_parcial_Lima_Palacios (1).ipynb
examen/evaluacion_parcial_julio_lovato.ipynb
examen/evaluacion_parcial_Gaibor_Nicole.ipynb
examen/evaluacion_parcial_fernando_hernandez.ipynb
examen/evaluacion_parcial_ELIZALDE_ASUNCION.ipynb
examen/evaluacion_parcial_daniela_reyes.ipynb
examen/evaluacion_parcial_Cobos_Salvador.ipynb
examen/evaluacion_parcial_CHONILLO ANCHUNDIA JEFFERSON .ipynb
examen/evaluacion_parcial_Celiano_Torosine.ipynb
examen/evaluacion_parcial_BOLLORINO_MONTOYA .ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_TobarEscobar-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_sanga_hernandez-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_SALAZAR_SUAREZ-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_Salazar_Loor-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_Robalino_Fernandez-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_REYES_MARIN-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_Olvera_Pedro-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_Nicole_Zambrano-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_MERA-checkpoint.ipynb
examen/.ipynb_checkpoints/evaluacion_parcial_Mabel_Leon-checkpoint.ipynb
other/presentation_var_23_5_09.pdf
